.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    color: black; 
    font-family: 'Lobster';
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    color: rgb(0, 0, 0);
}

p {
    font-family: 'Cormorant Garamond', serif;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-caption {
    position: absolute; */
    /* /* transform: translateY(-50%); */
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;

.card {
    font-family: 'Cormorant Garamond', serif;
}


